// Media Queries
$break-medium: 768px;

// Colors
$primary-yellow: #d2aa5c;
$primary-gray: #474747;
$primary-white: #fff;

// Transitions
$trans-default: all 0.5s ease-in-out;
$trans-linear: all 0.5s linear;
