// Media Queries
$break-medium: 768px;

// Colors
$primary-yellow: #d2aa5c;
$primary-gray: #474747;
$primary-white: #fff;
$primary-black: #262626;

// Transitions
$trans-default: all 0.5s ease-in-out;
$trans-linear: all 0.5s linear;

//Images
$home-img: '../images/bcg/homeBcg.jpeg';
$about-img: '../images/bcg/aboutBcg.jpeg';
$menu-img: '../images/bcg/menuBcg.jpeg';
$contact-img: '../images/bcg/contactBcg.jpeg';
