.nav-wrapper {
  padding: 0 1.2rem;

  @media (min-width: $break-medium) {
    display: flex;
    align-items: center;
  }
}

.header-wrapper {
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toggle-icon {
    font-size: 1.75rem;
    color: $primary-yellow;
    cursor: pointer;
  }

  @media (min-width: $break-medium) {
    .toggle-icon {
      display: none;
    }
  }
}

.link-wrapper {
  transition: $trans-linear;

  li {
    list-style-type: none;
  }

  .nav-link {
    display: block;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: $primary-gray;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: $trans-default;

    &:hover {
      background-color: $primary-gray;
      color: $primary-yellow;
      padding: 0.5rem 1rem 0.5rem 1.3rem;
    }
  }

  &--disabled {
    height: 0px;
    overflow: hidden;
    transition: $trans-linear;
  }

  @media (min-width: $break-medium) {
    height: auto;
    display: flex;
    margin: 0 auto;

    .nav-link:hover {
      background-color: $primary-white;
      padding: 0.5rem 1rem;
    }
  }
}

.icon-wrapper {
  .icon {
    font-size: 1.7rem;
    cursor: pointer;
    transition: $trans-default;

    &:hover {
      color: $primary-yellow;
    }
  }

  .facebook-icon {
    color: #3b579d;
  }

  .twitter-icon {
    color: #3ab7f0;
  }

  .instagram-icon {
    color: #da5f53;
  }

  display: none;

  @media (min-width: 768px) {
    display: flex;
    width: 10rem;
    justify-content: space-around;
  }
}
